/*============================================================================*\
| Source colors: Ayu Light                                                     |
\*============================================================================*/

// Source: https://github.com/ayu-theme/ayu-colors

$color-source-light-syntax-tag: #55B4D4;
$color-source-light-syntax-func: #F2AE49;
$color-source-light-syntax-entity: #399EE6;
$color-source-light-syntax-string: #86B300;
$color-source-light-syntax-regexp: #4CBF99;
$color-source-light-syntax-markup: #F07171;
$color-source-light-syntax-keyword: #FA8D3E;
$color-source-light-syntax-special: #E6BA7E;
$color-source-light-syntax-comment: #787B8099;
$color-source-light-syntax-constant: #A37ACC;
$color-source-light-syntax-operator: #ED9366;
$color-source-light-vcs-added: #6CBF43;
$color-source-light-vcs-modified: #478ACC;
$color-source-light-vcs-removed: #FF7383;
$color-source-light-editor-fg: #5C6166;
$color-source-light-editor-bg: #FCFCFC;
$color-source-light-editor-line: #8A91991A;
$color-source-light-editor-selection-active: #035BD626;
$color-source-light-editor-selection-inactive: #035BD612;
$color-source-light-editor-findMatch-active: #9F40FF2B;
$color-source-light-editor-findMatch-inactive: #9F40FFCC;
$color-source-light-editor-gutter-active: #8A9199CC;
$color-source-light-editor-gutter-normal: #8A919966;
$color-source-light-editor-indentGuide-active: #8A919959;
$color-source-light-editor-indentGuide-normal: #8A91992E;
$color-source-light-ui-fg: #8A9199;
$color-source-light-ui-bg: #F8F9FA;
$color-source-light-ui-line: #6B7D8F1F;
$color-source-light-ui-selection-active: #56728F1F;
$color-source-light-ui-selection-normal: #6B7D8F1F;
$color-source-light-ui-panel-bg: #F3F4F5;
$color-source-light-ui-panel-shadow: #00000026;
$color-source-light-common-accent: #FFAA33;
$color-source-light-common-error: #E65050;

// Colors with alpha components, premultiplied with ui.bg
$color-source-light-syntax-comment-premultiplied: #ABACB1;
$color-source-light-editor-line-premultiplied: #EDEFF1;
$color-source-light-editor-selection-active-premultiplied: #D3E1F5;
$color-source-light-editor-selection-inactive-premultiplied: #E7EDF7;
$color-source-light-editor-findMatch-active-premultiplied: #E9DAFB;
$color-source-light-editor-findMatch-inactive-premultiplied: #B065FE;
$color-source-light-editor-gutter-active-premultiplied: #9FA6AC;
$color-source-light-editor-gutter-normal-premultiplied: #CCD0D3;
$color-source-light-editor-indentGuide-active-premultiplied: #D2D4D8;
$color-source-light-editor-indentGuide-normal-premultiplied: #E4E6E9;
$color-source-light-ui-line-premultiplied: #E7EAED;
$color-source-light-ui-selection-active-premultiplied: #E4E9ED;
$color-source-light-ui-selection-normal-premultiplied: #E7EAED;
$color-source-light-ui-panel-shadow-premultiplied: #D3D4D5;
