/*============================================================================*\
| Source colors: Apache NiFi                                                   |
\*============================================================================*/

/*
This contains a bunch of colors of the original NiFi theme.
These are mostly used in cases where no class selectors can reach certain elements
that have inline styles and the only way to address them is by directly
referring to their inline style colors.
*/

$color-source-original-flow-component-state-running: #7dc7a0;
$color-source-original-flow-component-state-invalid: #cf9f5d;
$color-source-original-flow-component-state-stopped: #d18686;
$color-source-original-flow-component-state-disabled: #728e9b;

$color-source-original-dialog-button-positive: rgb(114, 142, 155);
$color-source-original-dialog-button-positive-hover: rgb(0, 72, 73);
$color-source-original-dialog-button-negative: rgb(227, 232, 235);
$color-source-original-dialog-button-negative-hover: rgb(199, 210, 215);
