/*============================================================================*\
| Sidebars                                                                     |
\*============================================================================*/

div.graph-control
{
    
    /*============================================================================*\
    | General                                                                      |
    \*============================================================================*/
    
    // Containers
    background-color: #242936;
    border: 1px solid #151921;
    border-right: 1px solid #151921;
    border-bottom: 1px solid #151921;
    
    // Slight shadow on containers for contrast
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    
    // Headers
    .graph-control-header-container
    {
        // Highlight on hover
        &:hover
        {
            background: #293040;
        }
        
        // Header text
        div.graph-control-header
        {
            color: #cccac2;
            font-family: Roboto, sans-serif;
        }
        
        // Icons
        .graph-control-header-icon.fa
        {
            color: #80bfff;
        }
    }
    
    // Expand/Collapse buttons
    div.graph-control-expansion
    {
        color: #80bfff;
    }
    
    // Header icons when docked
    div.graph-control-docked
    {
        color: #80bfff;
    }
    
    // Headers on hover when docked
    &.docked:hover
    {
        border: 1px solid #80bfff;
        background: #293040;
    }
    
    .graph-control-docked
    {
        padding-left: 2px;
    }
    
    // Action buttons
    div.action-button button
    {
        border: 1px solid #293040;
        background: #282e3b;
        color: #80bfff;
        
        &:hover
        {
            background: #293040;
            border: 1px solid #80bfff;
        }
        
        &:disabled
        {
            border: 1px solid #282e3b;
            background: none;
            
            .fa, .icon, span
            {
                color: #707a8c;
            }
        }
    }
    
    /*============================================================================*\
    | Navigate                                                                     |
    \*============================================================================*/
    
    &#navigation-control
    {
        // Minimap
        #birdseye
        {
            background: #1f2430;
            border: 1px solid #171b24;
            
            // Minimap viewport
            .birdseye-brush-container .birdseye-brush
            {
                stroke: #80bfff;
            }
        }
        
        // Fix icon padding
        div.action-button button .graph-control-action-icon
        {
            &.fa-search-plus, &.fa-search-minus
            {
                padding-left: 3px;
            }
            
            &.icon-zoom-fit
            {
                padding-left: 2px;
                padding-top: 1px;
            }
            
            &.icon-zoom-actual
            {
                padding-left: 2px;
            }
        }
    }
    
    /*============================================================================*\
    | Operate                                                                      |
    \*============================================================================*/
    
    &#operation-control
    {
        // NiFi logo in Operate panel
        #operation-context-logo i.icon
        {
            color: #707a8c;
        }
        
        // Current context name
        #operation-context-name
        {
            color: #ccdadb;
        }
        
        // Current context type
        #operation-context-type
        {
            color: #aabec7;
        }
        
        // Current context ID
        #operation-context-id
        {
            color: #707a8c;
        }
        
        // Fix icon padding
        div.action-button button .graph-control-action-icon
        {
            &.fa-gear
            {
                padding-left: 2px;
            }
            
            &.fa-key
            {
                padding-left: 3px;
            }
            
            &.fa-flash
            {
                padding-left: 1px;
                padding-bottom: 1px;
            }
            
            &.icon-enable-false
            {
                padding-left: 2px;
            }
            
            &.fa-play
            {
                padding-left: 2px;
            }
            
            &.fa-stop
            {
                padding-left: 2px;
            }
            
            &.icon-template-save
            {
                padding-left: 3px;
            }
            
            &.icon-template-import
            {
                padding-left: 3px;
            }
            
            &.fa-copy
            {
                padding-left: 1px;
            }
            
            &.fa-paste
            {
                padding-left: 2px;
            }
            
            &.icon-group
            {
                padding-left: 2px;
                padding-top: 1px;
            }
            
            &.fa-paint-brush
            {
                padding-left: 1px;
            }
            
            &.fa-trash
            {
                padding-left: 1px;
            }
        }
    }
    
}
