/*============================================================================*\
| Theme colors                                                                 |
\*============================================================================*/

/*
All "theme" colors are defined here.
These are roughly categorized into contexts where they are used.
Stylesheets always reference the theme colors, never the source colors directly.
This makes it possible to change specific usages of potentially-identical colors without
changing EVERY usage of that color, keeping the theme as modular as possible.
This two-tier structure also preserves integrity of the source colors so they can be
traced to their origins while also providing friendly names for actual use.
*/

/*----------------------------------------------------------------------------*\
| Accent colors                                                                |
\*----------------------------------------------------------------------------*/

// Main accent color
$color-theme-accent: $color-source-mirage-vcs-modified;

// Anything that indicates "error" or a negative state, e.g. bulletins
$color-theme-error: $color-source-light-syntax-markup;

/*----------------------------------------------------------------------------*\
| Text                                                                         |
\*----------------------------------------------------------------------------*/

// Default text color
$color-theme-text: $color-source-mirage-editor-fg;

// For subtle text such as labels
$color-theme-text-label: $color-source-mirage-ui-fg;

// For really subtle text such as footnotes
$color-theme-text-footnote: $color-source-mirage-editor-gutter-active-premultiplied;


/*----------------------------------------------------------------------------*\
| Splash screen                                                                |
\*----------------------------------------------------------------------------*/

$color-theme-splash: $color-source-mirage-ui-panel-bg;
$color-theme-splash-circle: $color-theme-accent;


/*----------------------------------------------------------------------------*\
| UI Back layer                                                                |
\*----------------------------------------------------------------------------*/
// e.g. flow canvas

$color-theme-ui-back: $color-source-mirage-ui-panel-shadow-premultiplied;
$color-theme-ui-back-highlight: $color-source-mirage-editor-line;


/*----------------------------------------------------------------------------*\
| UI Bar layer                                                                 |
\*----------------------------------------------------------------------------*/
// e.g. status bar, breadcrumbs...

$color-theme-ui-bar: $color-source-mirage-ui-bg;
$color-theme-ui-bar-border: $color-source-mirage-ui-line;

/*----------------------------------------------------------------------------*\
| UI Panel layer                                                               |
\*----------------------------------------------------------------------------*/
/// e.g. panels like the header, navigation...

$color-theme-ui-panel: $color-source-mirage-editor-bg;
$color-theme-ui-panel-border: $color-source-mirage-ui-panel-shadow-premultiplied;


/*----------------------------------------------------------------------------*\
| Minimap                                                                      |
\*----------------------------------------------------------------------------*/

$color-theme-minimap: $color-source-mirage-ui-bg;
$color-theme-minimap-border: $color-source-mirage-ui-line;
$color-theme-minimap-birdseye: $color-theme-accent;


/*----------------------------------------------------------------------------*\
| Flow components                                                              |
\*----------------------------------------------------------------------------*/

// Generic
$color-theme-flow-component: $color-source-mirage-ui-bg;
$color-theme-flow-component-border: $color-source-mirage-ui-panel-shadow-premultiplied;
$color-theme-flow-component-border-selected: $color-theme-accent;
$color-theme-flow-component-header: $color-source-mirage-ui-selection-active-premultiplied;
$color-theme-flow-component-row-odd: $color-source-mirage-editor-bg;
$color-theme-flow-component-row-even: $color-theme-flow-component;
$color-theme-flow-component-row-separator: $color-source-mirage-ui-line;


// Processor groups
$color-theme-process-group-status-bar: $color-theme-flow-component-row-odd;


/*----------------------------------------------------------------------------*\
| Buttons                                                                      |
\*----------------------------------------------------------------------------*/

$color-theme-button: $color-source-mirage-ui-selection-normal-premultiplied;
$color-theme-button-border: $color-theme-button;
$color-theme-button-hover: $color-source-mirage-ui-selection-active-premultiplied;
$color-theme-button-border-hover: $color-theme-accent;
$color-theme-button-icon-active: $color-theme-accent;
$color-theme-button-icon-inactive: $color-source-mirage-ui-fg;


/*----------------------------------------------------------------------------*\
| Icons                                                                        |
\*----------------------------------------------------------------------------*/

// Default icon color unless it has another semantic meaning
$color-theme-icon-default: $color-theme-accent;

// Generic info/stat/counter with active/inactive states
$color-theme-icon-active: $color-source-light-editor-gutter-active-premultiplied;
$color-theme-icon-inactive: $color-source-mirage-editor-gutter-normal-premultiplied;

// Remote Process Group
$color-theme-icon-rpg: $color-source-light-syntax-entity;

// Processor state
$color-theme-icon-processor-running: $color-source-mirage-vcs-added;
$color-theme-icon-processor-invalid: $color-source-mirage-syntax-func;
$color-theme-icon-processor-stopped: $color-source-light-syntax-markup;

// Version control
$color-theme-icon-vcs-uptodate: $color-source-light-vcs-added;
$color-theme-icon-vcs-modified: $color-source-light-syntax-entity;
$color-theme-icon-vcs-stale: $color-source-light-syntax-func;
$color-theme-icon-vcs-modified-stale: $color-source-light-syntax-markup;
$color-theme-icon-vcs-sync-fail: $color-source-light-syntax-markup;


/*----------------------------------------------------------------------------*\
| Input fields                                                                 |
\*----------------------------------------------------------------------------*/

$color-theme-input: $color-source-mirage-ui-selection-normal-premultiplied;
$color-theme-input-border: $color-theme-input; 
$color-theme-input-hover: $color-source-mirage-ui-selection-active-premultiplied;
