/*============================================================================*\
| Buttons                                                                      |
\*============================================================================*/

// Simple buttons
// These are the usually square-shaped buttons with mostly icons inside

button
{
    
    // Container
    background: $color-button;
    border: 1px solid $color-button-border;
    color: $color-button-icon-active;
    
    &:hover
    {
        background: $color-button-hover;
        border: 1px solid $color-button-border-hover;
    }
    
    // Icons
    .fa, &.fa
    {
        color: $color-button-icon-active;
    }
    
    // Disabled buttons
    &[disabled]
    {
        background: $color-button !important;
        border: 1px solid $color-button-border !important;
        color: $color-button-icon-inactive !important;
    }
    
}

// Fancy buttons
// These are the elongated buttons with text inside

.dialog-buttons .button
{
    // Unfortunately, buttons of different colors don't have different classes.
    // These are colored using inline styles in NiFi (potentially by a script?).
    
    /// Dark buttons (usually "Apply" or other confirming actions)
    
    // Idle
    &[style*="rgb(114, 142, 155)"]
    {
        background: #80bfff !important;
        color: #282e3b !important;
    }
    
    // Hover
    &[style*="rgb(0, 72, 73)"]
    {
        background: #478acc !important;
        color: #282e3b !important;
    }
    
    /// Bright buttons (usually "Cancel" or other declining actions)
    
    // Idle
    &[style*="rgb(227, 232, 235)"]
    {
        background: #282e3b !important;
        color: #80bfff !important;
    }
    
    // Hover
    &[style*="rgb(199, 210, 215)"]
    {
        background: #293040 !important;
        color: #80bfff !important;
    }
    
}

// Fancy buttons in specific contexts (e.g. Configure dialog of process groups, Controller Settings)
// where there's only an "Apply" button and no others. Unfortunately, these don't share selectors with
// the buttons above because they (fortunately?) lack the "style=..." BS the ones above have.

.settings-buttons .button
{
    
    background: #80bfff;
    color: #282e3b;
    
    &:hover:not(.disabled-button)
    {
        background: #478acc;
        color: #282e3b;
    }
    
}
