/*============================================================================*\
| Checkboxes                                                                   |
\*============================================================================*/

.nf-checkbox
{
    
    color: $color-checkbox;
    font-size: 1.2em;
    
    margin-top: -4px !important;
    
    &.checkbox-unchecked
    {
        background: none;
        
        &::before
        {
            content: "☐";
        }
    }
    
    &.checkbox-checked
    {
        background: none;
        
        &::before
        {
            content: "☑";
        }
    }
    
}
