/*============================================================================*\
| Input fields                                                                 |
\*============================================================================*/

.setting, .dialog-content
{
    
    .setting-field
    {
        
        input, textarea
        {
            background: $color-input;
            border: 1px solid $color-input-border;
            color: $color-text;
            
            &:hover
            {
                background: $color-input-hover;
                border: 1px solid $color-input-border-hover;
            }
            
            &:focus
            {
                background: $color-input-selected;
                border: 1px solid $color-input-border-selected;
                box-shadow: none;
            }
        }
        
        // "Selected Users/Groups" in policies
        &.allowed-container
        {
            border: 1px solid $color-scrolllist-border !important;
        }
    }
    
}
