/*=============================================================================*\
| Remote process groups                                                         |
\*============================================================================*/

div.remote-port-header
{
    background: $color-ui-dialog-header;
    color: $color-text;
}

div.remote-port-name
{
    color: $color-text;
}
