/*============================================================================*\
| Sort Boxes                                                                   |
\*============================================================================*/
// as seen in e.g. Parameter Context inheritance, queue prioritizers...

#prioritizer-available,
#prioritizer-selected,
#parameter-context-available,
#parameter-context-selected,
#rule-list
{
    
    // Container
    &.ui-sortable
    {
        
        background: $color-sort-box;
        
        // Individual items
        li
        {
            background: $color-sort-box-item;
            border: 1px solid $color-sort-box-item-border;
            
            &:hover
            {
                border: 1px solid $color-sort-box-item-border-hover;
            }
            
            // One variant of text, as seen in UpdateAttribute advanced configuration
            color: $color-sort-box-text;
            
            // Other variant of text, as seen in Parameter Context inheritance and queue prioritizers
            span
            {
                color: $color-sort-box-text;
            }
        }
        
        // Preview placeholder of where a dragged item will end up
        .ui-sortable-placeholder
        {
            background: $color-sort-box;
            border: 1px solid $color-sort-box;
        }
        
    }
    
    // "X" icon
    .fa-remove
    {
        color: $color-icon-default;
    }
    
}

// Elements in "selected" boxes
#prioritizer-selected,
#parameter-context-selected
{
    &.ui-sortable
    {
        li
        {
            background: $color-sort-box-item-selected;
            border: 1px solid $color-sort-box-item-border-selected;
        }
    }
}
