/*============================================================================*\
| Tabs                                                                         |
\*============================================================================*/

.tab-container
{
    
    // Tab container
    border-bottom: 1px solid $color-tab-underline;
    
    // Tabs
    .tab
    {
        background: $color-tab-selected;
        border: 1px solid $color-tab-border;
        border-bottom: 1px solid $color-tab-underline;
        
        // Selected tab
        &.selected-tab
        {
            background: $color-tab;
            border: 1px solid $color-tab-border-selected;
            border-bottom: 1px solid $color-tab !important;
        }
        
        // On hover
        &:hover
        {
            background: $color-tab-hover;
            border: 1px solid $color-tab-border-selected;
        }
        
        // Tab text
        
        /*
        <=1.12.1. The button inside the tab elements wasn't introduced yet.
        */
        color: $color-tab-title;
        
        /*
        >1.12.1.
        */
        button
        {
            color: $color-tab-title;
            
            // Overwrite the default weird hover effect
            &:hover
            {
                border: 1px solid $color-tab-hover !important;
            }
        }
        
    }
    
}
