/*============================================================================*\
| Input fields                                                                 |
\*============================================================================*/

.setting-field input
{
    background: #282e3b;
    border: 1px solid #282e3b;
    color: #cccac2;
    
    &:hover
    {
        background: #293040;
    }
    
    &:focus
    {
        background: #293040;
        border: 1px solid #80bfff;
        box-shadow: none;
    }
}
