/*============================================================================*\
| Breadcrumbs                                                                  |
\*============================================================================*/

#breadcrumbs
{
    
    background-color: $color-theme-ui-bar;
    border-top: 1px solid $color-theme-ui-bar-border;
    
    // Remove borders on the sides
    // These are barely visible in the original theme due to bad contrast.
    // Here, they'd just look bad and won't fit the style anyway.
    #breadcrumbs-left-border, #breadcrumbs-right-border
    {
        background: none;
    }

    // Links
    #data-flow-title-container span.link
    {
        color: $color-theme-accent;
    }

    // Arrows
    #data-flow-title-container span span
    {
        color: $color-theme-text;
    }
    
}
