/*============================================================================*\
| Header / Palette                                                             |
\*============================================================================*/

md-toolbar#header
{
    
    // Header bar
    background: $color-ui-panel;
    
    // Palette items
    .component-button
    {
        color: $color-icon-default;
        
        &:hover
        {
            background: $color-button-hover;
        }
    }
    
    // Palette items being dragged
    .ui-draggable-dragging
    {
        color: $color-icon-default;
    }
    
    // Palette item button grips
    .component-button-grip
    {
        background: repeating-linear-gradient(90deg, $color-ui-panel, $color-ui-panel 4px, transparent 4px, transparent 6px);
    }
    
    // Currently logged in user text
    #current-user
    {
        color: $color-text;
        font-family: Roboto, sans-serif;
    }
    
    // Menu button
    #global-menu-button
    {
        background: $color-ui-panel;
        
        &:hover
        {
            background: $color-button-hover;
        }
        
        // Hamburger icon
        .fa
        {
            color: $color-icon-default;
        }
    }
    
}
