/*============================================================================*\
| Status bar                                                                   |
\*============================================================================*/

#flow-status
{
    
    // Status bar at the top, below the menu bar
    background: $color-theme-ui-bar;
    border-bottom: 1px solid $color-theme-ui-bar-border;
    
    // Icons
    div .icon, div .fa
    {
        // Disable glow
        &::before
        {
            text-shadow: none;
        }
        
        // Threads
        &.icon-threads::before
        {
            color: $color-theme-icon-active;
        }
        
        // Total queued data
        &.fa-list::before
        {
            color: $color-theme-icon-active;
        }
        
        // Transmitting RPGs
        &.fa-bullseye::before
        {
            color: $color-theme-icon-rpg;
        }
        
        // Not Transmitting RPGs
        &.icon-transmit-false::before
        {
            color: $color-theme-icon-active;
        }
        
        // Running Components
        &.fa-play::before
        {
            color: $color-theme-icon-processor-running;
        }
        
        // Stopped Components
        &.fa-stop::before
        {
            color: $color-theme-icon-processor-stopped;
        }
        
        // Invalid Components
        &.fa-warning::before
        {
            color: $color-theme-icon-processor-invalid;
        }
        
        // Disabled Components
        &.icon-enable-false::before
        {
            color: $color-theme-icon-active;
        }
        
        // Up to date Versioned PGs
        &.fa-check::before
        {
            color: $color-theme-icon-vcs-uptodate;
        }
        
        // Locally modified Versioned PGs
        &.fa-asterisk::before
        {
            color: $color-theme-icon-vcs-modified;
        }
        
        // Stale Versioned PGs
        &.fa-arrow-circle-up::before
        {
            color: $color-theme-icon-vcs-stale;
        }
        
        // Locally modified and stale Versioned PGs
        &.fa-exclamation-circle::before
        {
            color: $color-theme-icon-vcs-modified-stale;
        }
        
        // Sync failure Versioned PGs
        &.fa-question::before
        {
            color: $color-theme-icon-vcs-sync-fail;
        }
        
        // Last refresh
        &.fa-refresh::before
        {
            color: $color-theme-icon-active;
        }
        
        // Any icon when inactive / counter is 0
        &.zero::before
        {
            color: $color-theme-icon-inactive;
        }
    }
    
    // Text next to the icons
    #flow-status-container
    {
        .icon, .fa
        {
            span
            {
                color: $color-theme-text;
            }
        }
    }
    
    // Search button
    #search-button
    {
        background: #1c212b !important;
        border-left: 1px solid #242936 !important;
        
        &:hover
        {
            background: #293040 !important;
        }
        
        // Search button icon
        .fa-search
        {
            color: $color-theme-icon-default;
        }
    }
    
    // Search field
    #search-container, #search-field
    {
        background: #1c212b;
        color: #cccac2;
    }
    
    // Bulletin button
    #bulletin-button
    {
        background: #1c212b;
        border-left: 1px solid #242936;
    }
    
}
