/*============================================================================*\
| Funnels                                                                      |
\*============================================================================*/

.funnels g
{
    
    rect.border
    {
        stroke: #191d27;
    }
    
    &.selected rect.border
    {
        stroke: #80bfff !important;
    }
    
    rect.body
    {
        fill: #242936;
    }
    
    .funnel-icon
    {
        fill: #707a8c;
    }
    
}
