/*============================================================================*\
| Funnels                                                                      |
\*============================================================================*/

.funnels g
{
    
    rect.border
    {
        stroke: $color-theme-flow-component-border;
    }
    
    &.selected rect.border
    {
        stroke: $color-theme-flow-component-border-selected !important;
    }
    
    rect.body
    {
        fill: $color-theme-flow-component;
    }
    
    .funnel-icon
    {
        fill: $color-theme-flow-component-icon;
    }
    
}
