/*============================================================================*\
| Ports                                                                        |
\*============================================================================*/

.ports .component
{
    
    // Unselected border
    rect.border
    {
        stroke: $color-flow-component-border;
    }
    
    // Selected border
    &.selected rect.border
    {
        stroke: $color-flow-component-border-selected !important;
    }
    
    // Remote port header
    .remote-banner
    {
        fill: $color-flow-component-header;
    }
    
    // Transmission status icon
    text.port-transmission-icon
    {
        text-shadow: none;
        
        &.not-transmitting
        {
            fill: $color-icon-inactive !important;
        }
        
        &.transmitting
        {
            fill: $color-icon-rpg !important;
        }
    }
    
    // Body fill
    rect.body
    {
        fill: $color-flow-component;
    }
    
    // Input/Output icon
    .port-icon
    {
        fill: $color-flow-component-icon;
    }
    
    // Port name
    .port-name
    {
        fill: $color-text;
    }
    
    // Status icons
    .run-status-icon
    {
        // TODO These have no status-specific classes, unsure if this is the best way to work around it?
        
        // Running
        &[fill="#7dc7a0"]
        {
            fill: $color-flow-component-state-running;
        }
        
        // Invalid
        &[fill="#cf9f5d"]
        {
            fill: $color-flow-component-state-invalid;
        }
        
        // Stopped
        &[fill="#d18686"]
        {
            fill: $color-flow-component-state-stopped;
        }
        
        // Disabled
        &[fill="#728e9b"]
        {
            fill: $color-flow-component-state-disabled;
        }
    }
    
}
