/*============================================================================*\
| Process groups                                                               |
\*============================================================================*/

.process-groups .process-group, .remote-process-groups .remote-process-group
{
    
    // Border
    &.border
    {
        stroke: $color-flow-component-border;
    }
    
    &.selected rect.border
    {
        stroke: $color-flow-component-border-selected !important;
    }
    
    // Header
    rect:nth-child(3)
    {
        fill: $color-flow-component-header;
    }
    
    // Disable version control icon glow
    text.version-control
    {
        text-shadow: none;
    }
    
    // Name in header
    text.process-group-name, text.remote-process-group-name
    {
        fill: $color-text;
    }
    
    .process-group-details
    {
        // Status bars (top/bottom)
        rect:first-child, rect:nth-child(2)
        {
            fill: $color-process-group-status-bar;
        }
        
        // Status bar icons
        .process-group-contents-icon
        {
            fill: $color-icon-inactive !important;
            text-shadow: none;
            
            &.transmitting
            {
                fill: $color-icon-rpg !important;
            }
            
            &.not-transmitting
            {
                fill: $color-icon-active !important;
            }
            
            &.running
            {
                fill: $color-icon-processor-running !important;
            }
            
            &.stopped
            {
                fill: $color-icon-processor-stopped !important;
            }
            
            &.invalid
            {
                fill: $color-icon-processor-invalid !important;
            }
            
            &.disabled
            {
                fill: $color-icon-active !important;
            }
            
            &.up-to-date
            {
                fill: $color-icon-vcs-uptodate !important;
            }
            
            &.locally-modified
            {
                fill: $color-icon-vcs-modified !important;
            }
            
            &.stale
            {
                fill: $color-icon-vcs-stale !important;
            }
            
            &.locally-modified-and-stale
            {
                fill: $color-icon-vcs-modified-stale !important;
            }
            
            &.sync-failure
            {
                fill: $color-icon-vcs-sync-fail !important;
            }
        }
        
        // Status bar numbers
        .process-group-contents-count
        {
            fill: $color-text;
        }
        
        rect
        {
            // Odd rows
            &:nth-child(4n+5)
            {
                fill: $color-flow-component-row-odd;
            }
            
            // Even rows
            &:nth-child(4n+7)
            {
                fill: $color-flow-component-row-even;
                opacity: 1;
            }
            
            // Row delimiters
            &:nth-child(2n+6)
            {
                fill: $color-flow-component-row-separator;
            }
        }
        
        // Error bulletin
        rect.bulletin-background
        {
            fill: $color-error;
        }
        
        .bulletin-icon
        {
            fill: $color-flow-component;
        }
    }
    
    // Body (empty space / not otherwise specified)
    .body
    {
        fill: $color-flow-component;
        filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.25));
    }
    
}

/*============================================================================*\
| Remote process groups                                                        |
\*============================================================================*/

.remote-process-groups .remote-process-group
{
    
    .remote-process-group-details
    {
        // Transmission status
        text.remote-process-group-transmission-status
        {
            // Disable glow
            text-shadow: none;
            
            // Fix icon position
            transform: translateX(-2px);
            
            &.transmitting
            {
                fill: $color-icon-rpg !important;
            }
            
            &.not-transmitting
            {
                fill: $color-icon-inactive !important;
            }
        }
        
        // Transmission security icon
        text.remote-process-group-transmission-secure
        {
            fill: $color-text-label;
        }
        
        // Address
        text.remote-process-group-uri
        {
            fill: $color-text;
        }
        
        rect
        {
            // Address bar
            &:nth-child(2)
            {
                fill: $color-process-group-status-bar;
            }
            
            // First row
            &:nth-child(5)
            {
                fill: $color-flow-component-row-odd;
            }
            
            // Second row
            &:nth-child(7)
            {
                fill: $color-flow-component-row-even;
                opacity: 1;
            }
            
            // Row delimiter
            &:nth-child(6)
            {
                fill: $color-flow-component-row-separator;
            }
            
            // Status bar
            &:nth-child(11)
            {
                fill: $color-process-group-status-bar;
            }
        }
        
        // Last refresh time
        .remote-process-group-last-refresh
        {
            fill: $color-text-footnote;
        }
    }
     
}
